body {
    background-color: rgb(250, 231, 234);
}

.chef-icon {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 80;
    border-radius: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #ff4c4c;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #ff4c4c;
    margin-bottom: 20px;
    text-align: left;
}

.card {
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%; /* Ensure cards take up full width of their container */
    max-width: 300px; /* Set a maximum width for the cards */
}

.card img {
    width: 100%; /* Ensure images take up full width of their container */
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images are cropped to fit the container */
}

.search-box {
    max-width: 400px;
    margin: auto;
}
.search-box input {
    width: 100%;
    padding: 10px;
    border: 3px solid #ff4c4c;
    border-radius: 6px;
}
.read-more {
    background-color: #ff4c4c; /* Reddish background color */
    border-color: #ff0000; /* Reddish border color */
    color: white; /* Text color */
    width: 100%; /* Increase the width to full container width, adjust as needed */
    text-align: center; /* Center the text */
}

.read-more:hover {
    background-color: #e60000; /* Darker red background color on hover */
    border-color: #cc0000; /* Darker red border color on hover */
    color: white; /* Keep text color white */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,1); /* Fully black background */
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.straw-modal .modal-content { 
    background-color: #ecb9b9; 
    color: #070404; 

}
.straw-modal h1, .straw-modal h2 { 
color: #cc0000;  
}
.greek-modal .modal-content { 
    background-color: #c0f0d5; 
    color: #121312; 
 }
 .greek-modal h1, .greek-modal h2 {
    color: #006600;
 }

 .cheese-modal .modal-content { 
    background-color: #f5c276; 
     color: #050505; 
     }
 .cheese-modal h1, .cheese-modal h2 {
    color: #993300;
 }

.peri-modal .modal-content {
    background-color: #f5d143;
    color: #050505;
}
.peri-modal h1, .peri-modal h2 {
    color: #cc6600;

}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.home-button {
    display: block;
    color: pink; /* Change text color to pink */
    text-align: left; /* Align text to the left */
    margin-top: 20px;
    text-decoration: none;
    font-size: 10px;
    border: 2px solid pink; /* Change border color to pink */
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    margin-left: 0; /* Align button to the left */
    margin-right: auto;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    width: 80%; /* Increase the width */
    height: auto; /* Maintain aspect ratio */
    max-height: 300px; /* Limit the height */
    border-radius: 10px;
}
